/* Reset styles for better cross-browser consistency */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a default background color and font family */
body {

    /*Paralax image*/
    background-color: #f0f0f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image: url("/img/imgonline-com-ua-Negative-tHz71pIwfjCoXjD.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/

    min-height: 200vh;
}

header {
    /*Center text*/
    text-align: center;
}

/* Style nav   */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: #8a8888;*/
    background-color: #8a8888;
    opacity: 0.4;
}

ul {
    display: flex;
    list-style: none;
    /*center elements*/
    justify-content: center;
    /*make elements size biger*/
    font-size: 1.5rem;
    /*space elements*/
    gap: 20px;
}

/*make image in nav in the right and shape like a circle*/
nav img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    /*biger size */
    font-size: 2rem;
}

.dark-mode {
    background-color: black;
    color: white;
    background-image: url("/img/dirty-old-wallpaper-textured-backdrop.jpg");
    /*asdnasdij*/
}


/*----------*/
/*----------*/
/*----------*/
/*----------*/
/*----------*/
/*----------*/



article {
    /*Center text*/
    padding: 15px;
    opacity: 0.8;
    margin: 0 auto;
    right: 40vh;
    transition: height 0.3s ease-out;
}

article p,
h2 {
    text-align: right;
    width: 50vh;
}



.animated-content-article {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    height: 0%;

    transition-property: top, opacity;
    transition-duration: 1s, 0.5s;
    /* Delay the opacity transition */
}


.animated-content-article.show {
    top: 0;
    opacity: 1;
    /*background-color: rgb(105, 92, 92);*/
}


.animated-content-article img {
    height: auto;
    width: auto;
    margin-bottom: 20px;
    position: relative;
}

#presentation {
    position: absolute;
}





/*----------*/
/*----------*/
/*----------*/
/*----------*/
/*----------*/
/*----------*/


/*ITENS*/
.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 50px;
    text-align: center;
}

.hero div p {
    display: none;
}

.hero div:hover p {
    display: block;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

.hero img {
    /*max-width: 100%;*/
    /*height: auto;*/
    padding: 50px;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 200px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

.hero div:hover {
    background-color: #a7a7a7;

}


/*FOOTER*/
footer {
    background-color: #8a8888;
    padding: 15px;
    opacity: 0.4;
}

#current-date,
#current-time {
    /*Center text*/
    text-align: right;
    padding: 10px;
}

/*------------------------------------*/
/*Style social media icons footer*/

.socials {
    display: inline-block;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    
}

.fa:hover{
    background-color: #f1f1f1;
}

/* -- */

/*--------------*/
/*--------------*/
/*--------------*/
/*--------------*/
/*--------------*/

/*Style do form email */

input[type="text"],
textarea {
    width: 50%;
    padding: 14px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 50%;
    background-color: #23064f;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #253592;
}

.emailForm label {
    text-align: center;
}


/*-------*/
/*-------*/
/*-------*/
/*-------*/
/*-------*/





/* Media queries for smaller screens */
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        /* switch to a single column layout */
        padding: 20px;
    }

    .hero img {
        max-width: 80%;
        /* decrease image size for smaller screens */
    }

    /* font size of the nav bar */
    ul {
        font-size: 0.9rem;
    }

    .img {
        width: 1000px;
        height: auto;
        text-align: center;
    }

    article {
        /*Center text*/
        right: 20vh;

    }
}

/* Media queries for even smaller screens */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
        /* decrease font size for smaller screens */
    }

    .hero p {
        font-size: 1rem;
        /* decrease font size for smaller screens */
    }

    ul {
        font-size: 1rem;
    }

    .img {
        width: auto;
        height: auto;
    }

    article {
        width: 5vh;
        top: 0;
        right: 25vh;
    }

    article p,
    h2 {
        text-align: right;
        width: 20vh;
        right: auto;
    }

}

/* Media queries for even smaller screens */
@media (max-width: 320px) {
    .hero h1 {
        font-size: 1.5rem;
        /* decrease font size for smaller screens */
    }

    .hero {
        font-size: 0.8rem;
        /* decrease font size for smaller screens */
    }

    /* font size of the nav bar and element on top verticaly*/
    ul {
        font-size: 0.8rem;
    }

    .img {
        width: auto;
        height: auto;
        text-align: center;
    }

    article {
        width: 15vh;
        right: 25vh;

    }
}